@model ArtareaNew.Models.Admin
@using ArtareaNew.Helper; 

@{
    var currentUser = LoginHelper.currentUser();
}

<h2>Admin Index</h2>


@if(currentUser != null)
{
<div style="margin-top:100px; text-align:center" >
    <span>გამარჯობა</span>  @currentUser.Username<br />
    @currentUser.Email
</div>
   
}



