<link rel="stylesheet" type="text/css" href="css/contact.css">

<main>
    <div class="container contact-container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h2>საკონტაქტო ინფორმაცია</h2>
                <table>
                    <tr>
                        <td>ტელეფონი <span>2 18 10 38</span></td>
                    </tr>
                    <tr>
                        <td>ელ ფოსტა <span>info@artarea.tv</span></td>
                    </tr>
                    <tr>
                        <td>მისამართი <span>დოდო აბაშიძის 10</span></td>
                    </tr>

                </table>
                <div class="main-social-links">
                    <a href="">fb</a>
                    <a href="">ln</a>
                    <a href="">Tw</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11912.545125893297!2d44.7850189!3d41.717578!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xced15c2c7992ceb5!2sGeoLab!5e0!3m2!1sen!2sge!4v1517584451726" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</main>